
<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li>
        <a href='@Url.Action("Index","ThanhVien")'>
            <i class="fa fa-envelope"></i> <span>Thành Viên</span>
        </a>
    </li>
    <li>
        <a href='@Url.Action("Index","Skin")'>
            <i class="fa fa-envelope"></i> <span>Skin</span>
        </a>
    </li>
    <li>
        <a href='@Url.Action("Index","Account")'>
            <i class="fa fa-envelope"></i> <span>Account</span>
        </a>
    </li>
    <li>
        <a href='@Url.Action("Index","Rank")'>
            <i class="fa fa-envelope"></i> <span>Rank</span>
        </a>
    </li>
    <li>
        <a href='@Url.Action("Index","GiaoDich")'>
            <i class="fa fa-envelope"></i> <span>Lịch sử giao dịch</span>
        </a>
    </li>
</ul>