<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 2.2.3 -->
    <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>
    <style>
        .tab-content img{
            width:100%;
        }
    </style>
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">

    <div class="wrapper">

        @Html.Partial("_Header")
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <!-- Content Header (Page header) -->
                <br>
                <div class="callout callout-info">
                    <h4>Thông báo !</h4>

                    <p>Shop vừa cập nhật đợt acc không rank bla bla.</p>
                </div>
                <!-- /.box -->
                <!--Dialog-->
                <!-- Modal -->
                <!-- Nap the -->
                <div class="modal fade" id="napthe" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Nạp Thẻ</h4>
                            </div>
                            <div class="modal-body" id="FormNapThe">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Nap the -->
                <!--/dialog -->
                <div class="modal fade" id="lichsumua" role="dialog">
                </div>
                <div class="modal fade" id="lichsugiaodich" role="dialog">
                </div>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-body" id="DanhSachAcc">
                                    @RenderBody()
                                </div>
                                @*<div class="box-footer clearfix">
                                    <ul class="pagination pagination-sm no-margin pull-right">
                                        <li><a href="#">«</a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">»</a></li>
                                    </ul>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </section>

                <!-- /.content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="container">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0 beta
                </div>
                <strong>Copyright &copy; 2016 <a href="@Url.Action("Index","TrangChu")">Shoplienminh.com</a>.</strong> All rights
                reserved.
            </div>
            <!-- /.container -->
        </footer>
    </div>
    <!-- ./wrapper -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btnNapthe").click(function () {
                $.post("@Url.Action("NapThe")", function (data) {
                    $("#FormNapThe").html(data);
                });
            });
            
            $(".btnDanhSachAcc").click(function () {
                $.post("@Url.Action("LichSuGiaoDich")", function (data) {
                    $("#lichsumua").html(data);
                });
            });
            $(".btnLichSuGiaoDich").click(function () {
                $.post("@Url.Action("GiaoDich")", function (data) {
                    $("#lichsugiaodich").html(data);
                });
            });
        });
        function getDanhSach(type, ItemId) {
            $("#DanhSachAcc").html("");
            if (type == "RANK") {
                $.post("@Url.Action("RankFilter")/" + ItemId, { id: ItemId }, function (data) {
                    $("#DanhSachAcc").html(data);
                });
            } else if (type == "SKIN") {
                $.post("@Url.Action("SkinFilter")/" + ItemId, { id: ItemId }, function (data) {
                    $("#DanhSachAcc").html(data);
                });
            } else if (type == "TIEN") {
                $.post("@Url.Action("TienFilter")/" + ItemId, { id: ItemId }, function (data) {
                    $("#DanhSachAcc").html(data);
                });
            }
            return false;
        }
    </script>

</body>
</html>
